body {
  margin: 0;
  padding: 0;
}

.noScroll {
  overflow-y: hidden;
}

.gameStack {
  position: absolute;
  display: inline-block;
  transition: opacity linear 300ms;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 960px;
  height: 600px;
  border: 1px solid white;
}

.gameGrid {

}

.vanish {
  transition: opacity linear 300ms, top linear 300ms, left linear 300ms;
}

.grid {

}

.stack {
  position: absolute;
  top: 50%;
  left: 50%;
}

.disappear {
  opacity: 0;
}
.appear {
  opacity: 1;
}
canvas, img {
  transition: opacity 1s linear;
  position: absolute;
  width: 960px;
  height: 600px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
